
{% extends 'base.html' %}

{% load static %}

{% block content %}



<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css">
    <link rel="stylesheet" href="{% static 'css/project_a.css'%}?v=1.0">
    <title>home</title>
</head>


<body>


<section class="home">

    <div class="container">

        <div class="book first_text">
            <h1>Time to travel with your Imagination</h1>
            <p>Start your learning journy by browsing billion of books</p>

            <div class="first_btn">
                <a id="btn_book_store" class="first_buttom" href="{% url 'bookList' %}">Explore  now</a>
            </div>
        </div>


        
        <div class="book first_img">
            <img src="{% static 'image/reading-books.png'%}" alt="">
        </div>
    </div>

  

   
   


</section>


<section class="second_sec p-70">


   <div class="container">
    <div class="second">

        <div class="sec_img">

            <img src="{% static 'image/girl-reading-books-online.png'%}" width="200"  alt="">
        
        </div>
    
        <div class="sec_text">
            <h3>WISE has a big catalog of 12 Million books  online</h3>
            <p>Efficiently unleash cross-media information without cross-media value. Quickly maximize timely deliverables for real-time schemas. Dramatically maintain clicks-and-mortar solutions without functional solutions.</p>
            <div class="sec_btn">
                <a  id="btn_book_store_2" class="btn"  href="{% url 'bookList' %}">Browse Now</a>
            </div>
        </div>

       


    </div>
   </div>
</section>


<section class="prefer2">
    <div class="prefer_all2">
        <div class="prefer_text2">
            <h1>Explore amazing books</h1>
        
        </div>

        <div class="prefer_cards2">

            {% for book in random_books %}
            <div class="prefer_card12">
                <p style="font-size: 12px;;">{{ book.category }}</p>
                <a href="{% url 'Book_details' id=book.id %}"><h3>{{ book.name }}</h3></a>
                <p style="font-size: 12px;">{{book.author}}</p>
            </div>
        {% endfor %}
        
           
           
        </div>


    </div>
</section>


<section id="go1" class="about_us p-70">
    <div class="about_us_all">
        <img src="{% static 'image/girl-searching-online.png'%}" width="400" alt="">
        <div class="about_us_text" id="about_us_text">
            <h1>About Us</h1>
            <h5>Wise with books</h5>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam quo fugit
                eveniet ea mollitia? Natus autem assumenda excepturi, id, 
                praesentium enim hic porro ut temporibus quos at nihil, rem officiis. Lorem ipsum dolor,
                sit amet consectetur adipisicing elit. Non expedita debitis harum aliquid, 
                exercitationem tempore facere architecto similique modi, sed possimus nobis fugit maiores
                dignissimos voluptate amet iste. Repellendus , atque!</p>
                <button type="button" onclick="loadDoc()">Read More</button>

        </div>
    </div>
</section>





<section id="go2" class="contact_us ">


    <div class="contact_all">


    <form id="my_form" class="contact_left">

        <div class="contact_left_title">
            <h1>Get in touch</h1>
            <hr>
        </div>
    
        <input id="name_val" type="text" name="name" placeholder="Your Name " class="contact_left_input" required>
        <div id="name_error" class="error"></div>

        <input id="phone_val" type="text" name="phone" placeholder="Your phone " class="contact_left_input" required >
        <div id="phone_error" class="error"></div>

        <input id="email_val" type="" name="email" placeholder="Your Email " class="contact_left_input" required >
        <div id="emeil_error" class="error"></div>

       
    
       
        <textarea required id="text_val"  name="message" placeholder="Your Message" class=" yay"></textarea>
        <div id="message_error" class="error"></div>
        <button type="submit">Submit</button><p id="success_message" style="display: none;">Message sent successfully!</p> <div id="sent" class="good"></div>
        


    </form>

    <div class="contact_right">

        <img src="{% static 'image/right_img.png' %}" width="300" alt="">
    </div>

    </div>
</section>


 


<script src="{% static 'js/project.js' %}?v=1.0"></script>

<script>
    function loadDoc() {
      const xhttp = new XMLHttpRequest();
      xhttp.onload = function() {
        document.getElementById("about_us_text").innerHTML =
        this.responseText;
      }
      xhttp.open("GET", "/static/ajax_info.txt");
      xhttp.send();
    }
    </script>




</body>
</html>







{% endblock content %}









