{% load static %}

<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="{% static 'css/signup.css' %}"> 
    <script src="{% static 'js/login.js' %}?v=1.0" defer></script>
<title>Login</title>
</head>
<body>

<form method="POST" action=""id="form">
    {% csrf_token %}
  <h1>Login</h1>

  <div class="input">
      <label for="username">Username</label>
      <input type="text" id="username" name="username">
      <div class="error"></div>
   </div>

   <div class="input">
    <label for="password">Password</label>
    <input type="password" id="password" name="password">
    <div class="error"></div>
</div>

<button type="submit" >Login</button>
<p> <a href="{%url 'signup'%}">Do not hava account? </a> </p>
</form>
<div id="message"></div>
{% if messages %}
<ul>
    {% for message in messages %}
        <li>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}
</body>
</html>